* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;


}


.logo {
    background-color: brown;


}

.header a {
    text-align: right;
    /* Center-align text */
    padding: 16px;
    /* Add some padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 24px;
    /* Increased font-size */

}

.header ul li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

.header ul li a {
    color: white;
    display: flex;
    text-decoration: none;
}

.header a.active {
    background-color: blue;
}

.header a:hover {
    background-color: black;
}

.text-image {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    flex-direction: column;

}

.text-image img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

p,
ul li {

    list-style: none;
    font-size: 1.6rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.btn1 {
    display: flex;
    background-color: red;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btn2 {
    background-color: green;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}



.video-responsive {
    width: 100%;
    height: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}