* {
    margin: 0;
    padding: 0;

}


body {
    background-color: black;
    color: white;
}

.header {
    background-color: maroon;
    display: flex;
    align-items: center;



}

.header ul li {
    display: inline-block;
    list-style: none;

}

.header ul li a {
    color: white;
    display: flex;
    text-decoration: none;
}

.header a:hover {
    background-color: black;
}

h1 {
    text-align: center;
}

#footer-item h4 {

    color: white;
    text-align: center;
    font-size: 13px;

}

footer {
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30%;
}

.video-box {
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 90%;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.video-box video {
    width: calc(50% - 10px);
}

.video-responsive {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    text-align: center;
    gap: 10px;
}

.column img {
    width: 100%;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}